@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    --primary-color: #17191b;
    --secondary-color: #152D35;
    --tertiary-color: #345B63;
    --button-primary-hover-color: #2a578b;
    --button-secondary-color: #D8DFE8;
    --text-primary-color: #ffffff;
    --text-secondary-color: #ffffff;
    --text-resultado-color: #ffffff;
    --alert-color: #a13232;
}

.cabecalho {
    display: flex;
    align-items: center;
    padding: 1.5rem 2.5rem;
    background-color: var(--primary-color);
    height: 5.5rem;
    color: var(--text-resultado-color);
    box-shadow: 0px 2px 10px var(--primary-color);
    white-space: nowrap;
    
    
}

.cabecalho>img {
    width: 50%;
}

.cabecalho__menu{
    display: flex;
    align-items: center;
    gap: 5rem;
    height: 3rem;
}

#cabecalho__menu__btn>img {
    width: 10%;
    height: 10%;
}


body {
    background-color: var(--secondary-color);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    height: 100vh;
}

main {
    display: flex;
    padding: 1.8rem 2.5rem;
    gap: 2.5rem;
    justify-content: center;
}

.principal {
    padding: 3.2rem 3.2rem 0rem 3.2rem;
    display: flex;
    flex-direction: column;
    width: 50%;
}

#principal__textarea {
    height: calc(85vh - 3rem - 1.75rem - 6.25rem);
    background-color: var(--secondary-color);
    border: none;
    outline: none;
    font-size: 2rem;
    color: var(--text-resultado-color);
    resize: none;
    font-family: "Inter", sans-serif;
    font-weight: 400;


}

#principal__textarea::placeholder {
    color: var(--text-primary-color);
}

.principal__aviso {
    margin-top: 0.87rem;
    display: flex;
    gap: 0.32rem;
    align-items: center;
    color: var(--text-secondary-color);
}

.principal__aviso>p {
    font-size: 0.75rem;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.principal__buttons {
    margin-top: 0.62rem;
    width: 100%;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}

#btn__criptografar {
    width: 100%;
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    padding: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid var(--primary-color);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    box-shadow: 0.06rem 0.06rem 0.31rem var(--primary-color);
    cursor: pointer;
}

#btn__criptografar:hover {
    box-shadow: inset 0.62rem 0.62rem 1.25rem var(--button-primary-hover-color), 0.06rem 0.06rem 0.31rem var(--primary-color);
}

#btn__criptografar:active {
    box-shadow: none
}

#principal__buttons__erro {
    opacity: 0;
    position:absolute;
    height: 5%;
    width: 23%;
    bottom: 17vh;
    background-color: var(--alert-color);
    box-shadow: 0rem -0.12rem 0.62rem var(--primary-color);
    color: var(--text-primary-color);
    border-radius: 1.25rem;
    padding: 1rem;
    transition: opacity 0.3s ease 0s;
    z-index: 9999;
    font-size: 1rem;
    text-align: center;
    
}

#btn__descriptografar,
#btn__copiar {
    width: 100%;
    background-color: var(--button-secondary-color);
    padding: 1.5rem;
    border-radius: 1.5rem;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    box-shadow: 0.06rem 0.06rem 0.31rem var(--primary-color);
    cursor: pointer;
}

#btn__descriptografar:hover,
#btn__copiar:hover {
    box-shadow: inset 0.62rem 0.62rem 1.25rem var(--secondary-color), 0.06rem 0.06rem 0.31rem var(--primary-color);
}

#btn__descriptografar:active,
#btn__copiar:active {
    box-shadow: none
}

.mensagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--tertiary-color);
    height: 85vh;
    width: 30%;
    border-radius: 2rem;
}

.mensagem__vazio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    color: var(--text-secondary-color);
}

#mensagem__vazio>img {
    width: 100%;
}

.resultado {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--tertiary-color);
    height: 85vh;
    width: 30%;
    border-radius: 2rem;
}


#resultado__textarea {
    height: 100vh;
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    font-size: 1.5rem;
    color: var(--text-resultado-color);
    background-color: var(--tertiary-color);
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: start;
}

#mensagem_area_de_tranferencia {
    opacity: 0;
    position: absolute;
    height: 5%;
    width: 23%;
    bottom: 17vh;
    background-color: var(--primary-color);
    box-shadow: 0rem -0.12rem 0.62rem var(--primary-color);
    color: var(--text-primary-color);
    border-radius: 1.25rem;
    padding: 1rem;
    transition: opacity 0.3s ease 0s;
    z-index: 9999;
    font-size: 0.75rem;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    height: 3.2rem;
    color: var(--text-primary-color);
    box-shadow: 0rem -0.12rem 0.62rem var(--primary-color);
}

footer>p>a {
    color: var(--text-primary-color);
    text-decoration: none;
}

@media screen and (max-width: 800px) {

    .cabecalho {
        justify-content: start;
        font-size: 0.78rem;
        padding: 1.5rem 0.5rem;
    }
    
    #cabecalho__menu__btn>img {
        width: 20px;
        height: 20px;
    }

    main {
        flex-direction: column;
    }

    .principal {
        width: 100%;
        padding: 0rem;
    }

    #principal__buttons__erro {
        width: 65%;
        position: fixed;
        top: 45%;     /* distância do topo */
        left: 20%;
        
    }

    .mensagem {
        width: 100%;
        height:fit-content;
    }

    .resultado {
        width: 100%;
        height: fit-content;
    }

    #principal__textarea {
        height: calc(100vh - 27rem);
    }

    #resultado__textarea {
        width: 100%;
        height: 40vh;
    }

    #mensagem__vazio>img {
        display: none;
    }

    #mensagem_area_de_tranferencia {
        bottom: -6vh;
        width: 70vw;
    }
}

@media screen and (max-width: 400px) {
    :root {
        font-size: 10px;
    }
}

@media screen and (max-width: 300px) {
    :root {
        font-size: 8px;
    }
}